stages:
    - build-statics
    - build-images
    - deploy_staging

build-statics:
    image: node:latest
    stage: build-statics
    script:
        - cd app
        - npm ci
        - npm run build
    artifacts:
        paths:
            - app/dist
    only:
        - master

backend-image:
    stage: build-images
    tags:
        - docker-image-build
    script:
        - ""
    dependencies: []
    variables:
        TO: $CI_REGISTRY_IMAGE:latest
        DOCKER_FILE: Dockerfile
    only:
        - master

static-image:
    stage: build-images
    tags:
        - docker-image-build
    script:
        - ""
    dependencies:
        - build-statics
    variables:
        TO: $CI_REGISTRY_IMAGE/static:latest
        DOCKER_FILE: Dockerfile.static
    only:
        - master

before_script:
    - apt-get update
    - apt-get -y install git
    # Setup SSH deploy keys
    - 'which ssh-agent || ( apt-get install openssh-client )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

deploy_staging:
    image: ubuntu:latest
    stage: deploy_staging
    script:
        - ssh root@h2900347.stratoserver.net "cd.. && cd var/mtg-web && git checkout master && git pull origin master && exit"
    only:
        - master