version: '3'
services:
    mtg-db:
        container_name: mtg-db
        image: postgres:latest
        env_file:
            - database.env
        ports:
            -5432:5432
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
        driver: local
        driver_opts:
            o: bind
            type: none
            device: home/mtg_web_data/