$box-width: 500px

hr
    boarder: 2px solid #626060

h2
    margin-top: 80px
    margin-bottom: 20px

.nav-search-form
    margin-left: 100px
    margin-right: 25px

.content
    margin-top: 30px
    padding: 50px

.color-btn
    border-radius: 50%
//     // width: 40px
//     // height: 40px

.rounded-image
    border-radius: 50%
    width: 50px
    height: 50px
    // opacity: 0.5
    // width: 40px
    // height: 40px
    // object-fit: cover

.color-btn
    margin-left: 10px
    margin-right: 10px
    padding: 0px
    border: 1px solid DarkGray
    outline: none

.result-img
    width: 250px
