$box-width: 500px
$box-border: 1px solid DarkGray
$box-margin-top: 50px
$min-width-body: 1400px

body
    min-width: $min-width-body

.nav-search-form
    margin-left: 100px
    margin-right: 25px

.content
    padding: 50px
    margin-top: 20px
    width: 90%
    min-width: $min-width-body

.navbar
    margin-bottom: 100px
    min-width: $min-width-body

//index

.index-box
    margin: auto
    margin-top: $box-margin-top
    width: $box-width
.index-about-box
    margin-bottom: $box-margin-top


//AdvancedSearchComp

.adv-search-box
    margin-top: $box-margin-top
.first-col
    width: 30%
    padding-bottom: 40px
    padding-top: 40px
.rounded-image
    border-radius: 50%
    width: 50px
    height: 50px
    // opacity: 0.5
    // width: 40px
    // height: 40px
    // object-fit: cover
.color-btn
    border-radius: 50%
    margin-left: 10px
    margin-right: 10px
    padding: 0px
    border: $box-border
    outline: none
#black-btn
    background-color: #69696900
#black-btn.active
    background-color: #696969
#white-btn
    background-color: #e3e69400
#white-btn.active
    background-color: #e3e694
#red-btn
    background-color: #dc090900
#red-btn.active
    background-color: #dc0909
#green-btn
    background-color: #00661a00
#green-btn.active
    background-color: #00661a
#blue-btn
    background-color: #0025fa00
#blue-btn.active
    background-color: #0025fa



//SearchComp

.search-toolbar
    border: 1px solid DarkGray
    margin-bottom: 20px
.results-box
    margin-top: $box-margin-top/2
.search-navigation
    float: right
#display-opt-dropdown
    // padding: 10px
    // margin-right: 20px
    width: 100%
#sort-opt-dropdown
    // padding: 10px
    width: 100%
.mana-thumbnail
    border-radius: 50%
    width: 20px
    height: 20px
.card-row-item-0
    float: left
.card-row-item-2
    float: right


//CardComp

.card-img
    width: 250px
.detail-box
    border: $box-border
.image-box
    margin-bottom: 20px
.detail-infos
    float: right
.detail-card-img
    width: 250px
    float: left
    padding: 20px


//DeckBuidlerComp

.deck-builder
    min-width: 1400px
    margin-top: $box-margin-top

.deck-list
    // width: 500px
    // height: 500px
    border: $box-border
    padding: 20px

.deck-table
    margin-top: 20px
    width: 100%
    font-size: 12px

// .deck-table-remove-btn
//     width: 48%


//DeckListComp

.deck-list-card-img
    width: 250px
    position: absolute
    border-radius: 5%
    // top: -20%
    // position: absolute
    // padding: 20px

.deck-list-card-img:hover
    position: relative
    margin-bottom: -15%
    // width: 500px

.card-list
    float: left

.deck-stats
    width: 400px
    float: right


//DeckkStatsComp

.deck-stats
    margin-bottom: 20px

.deck-stats-add-btn
    width: 20%
    height: 80%
    text-align: center

.valid-card-count
    color: green
    font-weight: bold

.invalid-card-count
    color: red
    font-weight: bold


//CreateCardComp

.create-card-box
    margin-top: $box-margin-top
    min-width: 1150px

.upload-card-table
    min-width: 600px

//CardPreviewComp

.card-preview
    width: 320px

.blank-image
    width: 100%
    position: relative

.card-name
    font-family: Arial
    font-weight: bold
    font-size: 14px
    position: absolute
    top: 16px
    left: 48px

.card-type
    font-family: Arial
    font-weight: bold
    font-size: 14px
    position: absolute
    top: 247px
    left: 50px

.generic-mana-circle
    width: 16px
    height: 16px
    border-radius: 50%
    background: gray
    position: absolute
    top: 20px
    // right: 48px

.generic-mana-cost-value
    font-family: Arial
    // font-size: 14px
    position: absolute
    top: -2px
    right: 4.7px

.colored-mana-cost
    position: absolute
    top: 13px
    right: 75px

.mana-symbol
    width: 18px
    border-radius: 50%

.card-rarity-symbol
    width: 13px
    height: 13px
    border-radius: 30%
    position: absolute
    top: 251px
    right: 82px

    // background-color: #d8dede;
    // background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);

.card-text
    position: absolute
    left: 66px
    width: 220px
    height: 150px
    word-wrap: break-word

.card-pt-text
    position: absolute
    top: 400px
    right: 85px
    font-size: 18px
    font-weight: bold

.card-artwork
    position: absolute
    top: 45px
    left: 49px

.card-artwork-image
    width: 250px
    height: 200px
